*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.zero{
    background-color: black;
    margin-top: -33px;
    color: aquamarine;
    margin-left: 0;
    height: 100vh;
    

}
.zero h1{
    padding-top: 100px;
    font-size: 50px;
}
.zero p{
    font-size: 30px;
    font-family: cursive;
}
.zero img{
    height: 30rem;
    width: 40rem;
    margin-top: 70px;
    
}
@media (max-width: 768px) {
    .zero h1 {
      font-size: 32px;
      padding-top: 50px;
    }
    .zero p {
      font-size: 20px;
    }
  }
  


