# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules
+package-lock.json # ❗️Only if you're not committing it — but for Netlify, you SHOULD commit this!

# Build outputs
dist
dist-ssr
*.local

# System and IDE files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
