
.collections {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    margin-top: 50px;
    gap: 40px;
    padding: 0 20px;
    /* border: #592600 2px solid; */
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
    margin-top: 50px;

}
.Newcollection_bestseller{
    margin-top: -50px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.Newcollection_bestseller h1{
    color: #592600;
    font-size: 50px;
    font-weight: 600;
    margin-top: 50px;
}
.Newcollection_bestseller hr{
    width: 200px;

}